body {
  background-image: radial-gradient(circle, hsl(221 95% 57%), hsl(221 95% 10%));
  background-image: radial-gradient(
    circle,
    hsl(221 100% 60%),
    hsl(221 100% 5%)
  );
  background: #fffff0;
  /* display: grid; */
  /* place-content: center; */
  /* place-items: center; */
  max-width: 1024px;
  margin: auto;
}
.navbar {
  max-width: inherit;
}
.header {
  margin-top: 7rem;
  margin-bottom: 2rem;
}
h1 {
  color: #1bc21b;
}
h3 {
  text-transform: uppercase;
}
a {
  color: inherit !important;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  transition: 0.3s;
  text-decoration: underline;
  font-size: 100% !important;
}
a:visited {
  color: inherit !important;
}
a:focus {
  outline: none;
}
.logo {
  background: url(./img/logo_2.png);
  background-repeat: no-repeat;
  width: 257px;
  height: 71px;
  cursor: auto;
}
.navbar {
  background: hsl(26 75% 58%);
  background: linear-gradient(
    hsl(26 75% 58%),
    hsl(26 75% 58%) 10%,
    hsl(26 75% 68%) 12%,
    hsl(26 75% 48%) 14%,
    /* hsl(26 75% 38%/0.5), */ hsl(26 75% 48%) 86%,
    hsl(26 75% 68%) 88%,
    hsl(26 75% 58%) 90%,
    hsl(26 75% 58%)
  );
  background: #f22222;
  color: white;
}
.navbar-toggler {
  outline: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.first__letter::first-letter {
  /* background-image: url(./img/logo_pizza.png);
  background-size: contain;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center 64%;
  font-size: 2rem; */
}

.slider {
  /* box-shadow: 0px 0px 22px 3px hsl(221 95% 10%); */
  box-shadow: 10px 10px 30px 0px hsl(221 95% 10%);
}
.carousel-inner {
  background-image: linear-gradient(
    to right bottom,
    hsl(221 95% 10%),
    hsl(221 95% 10%)
  );
}

.carousel-inner .carousel-item:nth-child(1) .d-block {
  background: url(./img/products/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 768/941;
}
.carousel-inner .carousel-item:nth-child(2) .d-block {
  background: url(./img/products/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 768/941;
}
.carousel-inner .carousel-item:nth-child(3) .d-block {
  background: url(./img/products/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 768/941;
}
.carousel-inner .carousel-item:nth-child(4) .d-block {
  background: url(./img/products/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 768/941;
}
